body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  background: #108db8;
}

nav a {
  color: white;
  padding: 1rem;
  display: inline-block;
}

nav a.active {
  background: white;
  color: #108db8;
  border-top: 1px solid #108db8;
}

nav strong {
  color: white;
  padding: 1rem;
  display: inline-block;
}

.content {
  padding: 1rem;
}
.hidden {
  display: none;
}
form {
  display: block;
  width: 630px;
  margin: 0 auto;
}
form input, form select, form button {
  margin-bottom: 1rem;
  padding: 5px 10px;
  width: 60%;
  box-sizing: border-box;
}
form label {
  display: block;
  margin-bottom: 0.5rem;
}
form .validation-error {
  margin-left: 1rem;
  color: Red;
  font-size: 0.8rem;
}
.alert {
  width: 630px;
  margin: 1rem auto;
  padding: 5px 10px;
  background-color: #fbe3e4;
  color: #645b5b;
  display: block;
  text-align: center;
}
ul li {
  list-style-type: none;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: left;
}
td, th {
    padding: 0;
}
